Submissions.pdf
Team_2022_31_Final_Submission_Video.mp4
"Order 3D Printing Service \342\200\223 Instant Quote Ultra Red.pdf"
Team_2022_31_Presentation.pptx
Team_2022_31_Final_Submission.docx
Presentation2.pptx
efa_image.jpg
project_circuit_png.png
Order_3D_Printing_Service_Instant_Quote_treatstock.pdf
Team_2022_31_Pitch.pptx